* {
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: pink;
}

.calculator-container {
  background-color: green;
}

.calculator {
  align-content: center;
  height: 100vh;
  width: 100vw;
  display: flex;

  /* grid-template-columns: repeat(4, 100px);
  -ms-grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(150px, auto) repeat(5, 100px); */
  margin: 0 auto;

  width: 30vw;
  flex-wrap: wrap;
}

button {
  border: solid pink 1px;
  background-color: cornflowerblue;
  outline: none;
  font-size: large;
  font-weight: 900;

  width: 7.5vw;
  height: 14vh;
}

button:hover {
  cursor: pointer;
  background-color: orange;
}

.wide-button {
  /* grid-column: span 2; */
  width: 15vw;
  height: 14vh;
}

.screen {
  /* grid-column: span 4; */

  background-color: yellow;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  word-wrap: break-word;
  word-break: break-all;

  width: 100%;
  height: 20vh;
}

@media only screen and (max-width: 768px) {
  .calculator {
    width: 80vw;
  }

  button {
    width: 20vw;
  }

  .wide-button {
    width: 40vw;
  }
}
/* 
.screen {
  background-color: green;
  width: 200px;
  height: 50px;
  display: flex;
  flex-direction: column;
}

.past-answer {
  background-color: white;
  height: 20px;
  width: 200px;
  
  text-align: end;
}

.current-equation {
  text-align: end;
  

}



button {
  width: 50px;
  margin: 0px;
}

.wide-button {
  width: 100px;
  margin: 0px;
} */
